main .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.galeria img {
    justify-self: center;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ajusta la imagen dentro del contenedor sin distorsión */
}