<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título de la página que aparece en la pestaña del navegador -->
    <title>Productos</title>
    <!-- Enlace a la hoja de estilos principal para la página -->
    <link rel="stylesheet" href="./../css/main.css">
</head>
<body>
    <header>
        <!-- Encabezado de la página -->
        <nav>
            <img src="./../assets/img/logo.png" alt="Logotipo de la Empresa" id="logo">
            <!-- Imagen del logotipo de la empresa -->
            <ul>
                <li><a href="./../index.html">Inicio</a></li>
                <!-- Enlace a la página de inicio -->
                <li><a href="./productos.html">Productos</a></li>
                <!-- Enlace a la página de productos -->
                <li><a href="./presupuestos.html">Presupuesto</a></li>
                <!-- Enlace a la página de presupuestos -->
                <li><a href="./contacto.html">Contacto</a></li>
                <!-- Enlace a la página de contacto -->
            </ul>
        </nav>
    </header>

    <main>
        <!-- Define el contenido principal de la página -->
        <h1>Política de privacidad</h1>
        <!-- Título principal de la sección -->
        <p>A través de este sitio web no se recaban datos de carácter personal de las personas usuarias sin su conocimiento, ni se ceden a terceros.</p>
        <!-- Primer párrafo describiendo la política de privacidad básica -->
        <p>Con la finalidad de ofrecerle el mejor servicio y con el objeto de facilitar el uso, se analizan el número de páginas visitadas, el número de visitas, así como la actividad de las persona visitantes y su frecuencia de utilización. A estos efectos, la Agencia Española de Protección de Datos (AEPD) utiliza la información estadística elaborada por el Proveedor de Servicios de Internet.</p> 
        <!-- Segundo párrafo sobre el análisis de uso del sitio para mejorar el servicio -->
        <p>La AEPD no utiliza cookies para recoger información de las personas usuarias, ni registra las direcciones IP de acceso. Únicamente se utilizan cookies propias, de sesión, con finalidad técnica (aquellas que permiten la navegación a través del sitio web y la utilización de las diferentes opciones y servicios que en ella existen). </p>
        <!-- Tercer párrafo explicando el uso de cookies y direcciones IP -->
        <p>El portal del que es titular la AEPD contiene enlaces a sitios web de terceros, cuyas políticas de privacidad son ajenas a la de la AEPD. Al acceder a tales sitios web usted puede decidir si acepta sus políticas de privacidad y de cookies. Con carácter general, si navega por internet usted puede aceptar o rechazar las cookies de terceros desde las opciones de configuración de su navegador.</p>
        <!-- Cuarto párrafo sobre enlaces a sitios web de terceros y sus políticas de privacidad -->
    </main>

    <footer>
        <!-- Define el pie de página -->
        <ul>
            <!-- Lista de redes sociales -->
            <li><a href="https://www.instagram.com" target="_blank"><img src="./../assets/img/red_social_1.png" alt="Red Social 1"></a></li>
            <li><a href="https://x.com/" target="_blank"><img src="./../assets/img/red_social_2.png" alt="Red Social 2"></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><img src="./../assets/img/red_social_3.png" alt="Red Social 3"></a></li>
        </ul>
        <p>Dirección de la Empresa</p>
        <!-- Párrafo con la dirección de la empresa -->
        <p><a href="./aviso_legal.html">Aviso Legal</a></p>
        <!-- Párrafo con un enlace al aviso legal de la empresa -->
    </footer>
</body>
</html>

